.main {
  min-height: 100vh;
  background-image: url("/splash-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  position: absolute;
  bottom: 30px
}
